/* start login messages hidden */
#login-error-msg{
  opacity: 0;
}

/* start subfaction dropdowns as hidden */
#imperium {
  display: none;
} 

#chaos {
  display: none;
}

#xenos {
  display: none;
}

